<div class="container demo">

  <div class="content">
    <div id="large-header" class="large-header">
      <canvas id="demo-canvas">
      </canvas>
      <div class="toolContainer">

        <img src="../../assets/img/wd_logo1.png" alt="Logo Here">
        <div class="splashBox">
          <h2>Your business deserves a rock-solid identity</h2>
          <p role="dialog">You don't need a large IT department to be online. In a few easy steps we'll set you up and
            connect you
            to the best developers in the world!</p>
          <div class="splashButtons">
            <button role="headerCallToAction">Get started</button>
            <button role="headerCallToAction">Migrate</button>
          </div>
        </div>
      </div>


    </div>

  </div>


</div>

