<section id="jobs-header-container">
  <section id="left-triangle">
    <img src="../../../assets/img/jobsHeader.jpg" alt="background" class="left-bg">
    <section class="left-content">
      <h2>Left</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae blanditiis cupiditate facilis iusto
        maiores, quod suscipit voluptate! Autem dignissimos ea excepturi illum inventore officiis quidem recusandae vel
        velit voluptatibus!
      </p>
    </section>
  </section>
  <section id="right-triangle">
    <img src="../../../assets/img/jobsHeader2.jpg" alt="background" class="right-bg">
    <section class="right-content">
      <h2>Right</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae blanditiis cupiditate facilis iusto
        maiores, quod suscipit voluptate! Autem dignissimos ea excepturi illum inventore officiis quidem recusandae vel
        velit voluptatibus!
      </p>
    </section>
  </section>
</section>
