<section>

  <h1>
    WORK WITH US
  </h1>
  <p>
    Why? Because I said so, soldier! Kidding, that’s not our approach to management. Although we’re certainly getting inspired by the US Delta forces for their ruthless selection & training process, incredible efficiency and organized operations, we’ve left out the authority bit from the army-like culture.

    When it comes to company’s culture, that’s the “Wired” part of our name that prevails: shorts, flip-flops, hoodie, music blasting through the headsets, coffee mugs all over and thrice as many screens as people in the open space! Relax, though, we do not mind suit & ties, high heels or shining shoes if that’s how you like rolling. When it comes to our people, we’re looking for the intangible value that they can bring on the table regardless of their nationality, gender, orientation, age and alike.

    So why? Well, because you hate corporate boredom and you feel like empowering entrepreneurs to shake up the world. Because you’re smarter than a monkey and you want to put your brain cells to good use! So book your seat below and and join the rocket ship by emailing jobs@wiredelta.com with your resume and your preferred location (Copenhagen, Paris, Mysore or Coimbatore).
  </p>

</section>
