@font-face {
  font-family: "colaborateLightRegular";
  src: url("/assets/fonts/colaborate_light/ColabLig-webfont.eot");
  src: url("/assets/fonts/colaborate_light/ColabLig-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/colaborate_light/ColabLig-webfont.woff") format("woff"), url("/assets/fonts/colaborate_light/ColabLig-webfont.ttf") format("truetype"), url("/assets/fonts/colaborate_light/ColabLig-webfont.svg#colaborateLightRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "colaborate-mediumregular";
  src: url("/assets/fonts/colaborate_medium/ColabMed-webfont.eot");
  src: url("/assets/fonts/colaborate_medium/ColabMed-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/colaborate_medium/ColabMed-webfont.woff") format("woff"), url("/assets/fonts/colaborate_medium/ColabMed-webfont.ttf") format("truetype"), url("/assets/fonts/colaborate_medium/ColabMed-webfont.svg#colaborateLightRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "colaborate-thinregular";
  src: url("/assets/fonts/colaborate_thin/ColabThi-webfont.eot");
  src: url("/assets/fonts/colaborate_thin/ColabThi-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/colaborate_thin/ColabThi-webfont.woff") format("woff"), url("/assets/fonts/colaborate_thin/ColabThi-webfont.ttf") format("truetype"), url("/assets/fonts/colaborate_thin/ColabThi-webfont.svg#colaborateLightRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "geosansLight";
  src: url("/assets/fonts/geosans_light/GeosansLight.eot");
  src: url("/assets/fonts/geosans_light/GeosansLight.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/geosans_light/GeosansLight.woff") format("woff"), url("/assets/fonts/geosans_light/GeosansLight.ttf") format("truetype"), url("/assets/fonts/geosans_light/GeosansLight.svg#colaborateLightRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "openSans-light";
  src: url("/assets/fonts/OpenSans-Light/OpenSans-Light-webfont.eot");
  src: url("/assets/fonts/OpenSans-Light/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/OpenSans-Light/OpenSans-Light-webfont.woff") format("woff"), url("/assets/fonts/OpenSans-Light/OpenSans-Light-webfont.ttf") format("truetype"), url("/assets/fonts/OpenSans-Light/OpenSans-Light-webfont.svg#colaborateLightRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "openSans-regular";
  src: url("/assets/fonts/OpenSans_Regular/OpenSans-Regular-webfont.eot");
  src: url("/assets/fonts/OpenSans_Regular/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/OpenSans_Regular/OpenSans-Regular-webfont.woff") format("woff"), url("/assets/fonts/OpenSans_Regular/OpenSans-Regular-webfont.ttf") format("truetype"), url("/assets/fonts/OpenSans_Regular/OpenSans-Regular-webfont.svg#colaborateLightRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
.imgButton {
  height: 1.3rem;
  width: 1.3rem; }

#loginButton {
  border-bottom: 3px solid transparent;
  height: 100%;
  width: 100%;
  min-width: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center; }
  #loginButton:hover {
    border-bottom: 3px solid #F8F1E5; }

/*# sourceMappingURL=nav-button-login.component.css.map */
