<div class="aboutContainer">

  <div class="aboutBox" role="what">
    <img src="../../assets/img/icons/MushroomCloud-80.png" alt="about Section image">
    <h2>What?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Aliquid consectetur culpa dolore dolorum eum exercitationem libero molestiae nostrum placeat,
      quod repellendus saepe tenetur.
      Asperiores consequuntur dolor, enim magnam placeat quia.
    </p>
  </div>

  <div class="aboutBox" role="who">
    <img src="../../assets/img/icons/Einstein-80.png" alt="about Section image">
    <h2>who?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Aliquid consectetur culpa dolore dolorum eum exercitationem libero molestiae nostrum placeat,
      quod repellendus saepe tenetur.
      Asperiores consequuntur dolor, enim magnam placeat quia.
    </p>
  </div>

  <div class="aboutBox" role="how">
    <img src="../../assets/img/icons/cocktail-80.png" alt="about Section image">
    <h2>how?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Aliquid consectetur culpa dolore dolorum eum exercitationem libero molestiae nostrum placeat,
      quod repellendus saepe tenetur.
      Asperiores consequuntur dolor, enim magnam placeat quia.
    </p>
  </div>

</div>
