<div class="serviceRowContainer">
  <div class="serviceColumnContainer" role="cover"><!--
    <img src="../../../assets/img/design.jpg" alt="Main Visuals picture">
    <div role="promotion"></div>
  --></div>
  <div class="serviceColumnContainer" role="description">
    <img src="../../../assets/img/icons/WacomTablet-80.png" alt="Visuals Icon">
    <h2>Visuals</h2>
    <p>Our team creates unique designs and animations tailored to your specific requirements</p>
    <a href="#">Go to visuals</a>
  </div>

</div>
